part-2/2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Define the library element -->
  <xs:element name="library">
    <xs:complexType>
      <xs:sequence>
        <!-- Define the location, description, and librarian elements -->
        <xs:element name="location" type="xs:string"/>
        <xs:element name="description" type="xs:string"/>
        <xs:element name="librarian" type="xs:boolean" minOccurs="0"/>

        <!-- Define the book element -->
        <xs:element name="book">
          <xs:complexType>
            <xs:sequence>
                
              <xs:element name="author" type="xs:string"/>
              <xs:element name="preface" type="xs:string" minOccurs="0"/>
              <xs:element name="part" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    
                    <xs:element name="title" type="xs:string"/>
                    <xs:element name="chapter" minOccurs="1" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="summary" type="xs:string"/>
                          <xs:element name="section" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="paragraph" type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        
                        <xs:attribute name="title" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            
            <xs:attribute name="title" type="xs:string"/>
            <xs:attribute name="ISBN" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
